# ----------------------
# Python / Jupyter
# ----------------------
venv/
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# ----------------------
# Data (keep raw, ignore processed/interim)
# ----------------------
# Raw datasets are versioned (DO NOT ignore data/raw/)
data/processed/
data/interim/

# ----------------------
# OS / Editor
# ----------------------
.DS_Store
Thumbs.db
*.code-workspace
